{% extends "base.html" %}

{% block title %}
      <title>Breaking News</title>
{% endblock %}

{% block content %}
  {% load static %}
{#  <div class="awe-page-loading">#}
{#         <div class="awe-loading-wrapper">#}
{#            <div class="awe-loading-icon">#}
{#               <img src="{% static 'images/logo.png' %}" alt="images">#}
{#            </div>#}
{#            <div class="progress">#}
{#               <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>#}
{#            </div>#}
{#         </div>#}
{#      </div>#}

{#    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">#}
{#        <div class="modal-dialog modal-lg">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>#}
{#                    <h4 class="modal-title" id="myLargeModalLabel">Search Here</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control control-search" placeholder="Type & hit enter...">#}
{#                          <span class="input-group-btn">#}
{#                            <button class="btn btn-default button_search" type="button"><i data-toggle="dropdown" class="icons icon-magnifier dropdown-toggle"></i></button>#}
{#                          </span>#}
{#                    </div><!-- /input-group -->#}
{##}
{#                </div>#}
{#            </div><!-- /.modal-content -->#}
{#        </div><!-- /.modal-dialog -->#}
{#    </div>#}
    <!-- End pushmenu -->
    <div id="box-user" style="display:none;">
        <iframe width="980" src="#"></iframe>
    </div>
    <div class="wrappage">
        <header id="header" class="header-v3 header-v4">
            <div class="search">
                <form class="form-search" action="#" method="get" accept-charset="utf-8">
                    <input type="text" onblur="if (this.value == '') {this.value = 'Search articles...';}" onfocus="if(this.value != '') {this.value = '';}" value="Search articles..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                    <button class="button" title="Subscribe" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="topbar">
                <div class="container">
                    <div class="float-left">
                        <h3>Trending Now :</h3>
                        <p>Madden's Facebook/Mobile Game Makes It Incredibly</p>
                    </div>
                    <div class="float-right">
                        <div class="social">
                            <a href="#" title="title"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="title"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="title"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="title"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <div class="header-top">
                    <div class="container">
                    <div class="box float-left">
                        <p class="icon-menu-mobile"><i class="fa fa-bars" ></i></p>
                        <div class="logo"><a href="#" title="Uno">
                        <img src="{% static "images/logo.png" %}" alt="Cebu-site-Logo">
                        </a></div>
                        <div class="logo-mobile"><a href="#" title="Xanadu"><img src="{% static 'images/logo.png' %}" alt="Cebu-site-Logo"></a></div>
                        <div class="banner">
                            <a href="#" title="banner">
                                <img class="img-responsive" src="{% static 'images/banner-header-v3.jpg' %}" alt="banner">
                            </a>
                        </div>
						<div class="box-right social-mobile">
                            <div class="social">
                                <a href="#" title="title"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="title"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="title"><i class="fa fa-google-plus"></i></a>
                                <a href="#" title="title"><i class="fa fa-rss"></i></a>
                            </div>
                            <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg" style="display:none;">
                                <i class="icon"></i>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
{#                <div class="container">#}
{#                <nav class="mega-menu">#}
{#                <!-- Brand and toggle get grouped for better mobile display -->#}
{#                  <ul class="nav navbar-nav" id="navbar">#}
{#                    <li class="level1 active hover-menu"><a class="active" href="#" title="Home">Home</a>#}
{#                        <ul class="menu-level-1 list-menu">#}
{#                           <li class="level2"><a class="active" href="home_v1.html" title="Home 1">Home 1</a></li>#}
{#                            <li class="level2"><a href="home_v2.html" title="Home 2">Home 2</a></li>#}
{#                            <li class="level2"><a href="home_v3.html" title="Home 3">Home 3</a></li>#}
{#                            <li class="level2"><a href="home_v4.html" title="Home 4">Home 4</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="Social">Social</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="BUSINESS">BUSINESS</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="GAMING">GAMING</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="TRAVEL">TRAVEL</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="TECHNOLOGY">TECHNOLOGY</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="SPORTS">SPORTS</a>#}
{#                    </li>#}
{#                    <li class="level1 hover-menu">#}
{#                        <a href="#" title="Page">Page</a>#}
{#                        <div class="sub-menu list-menu">#}
{#                          <div class="main-sub-menu">#}
{#                            <div class="col-md-3 col-sm-6">#}
{#                                <div class="post-item ver3 overlay">#}
{#                                    <div class="wrap-images">#}
{#                                        <a class="images" href="#" title="images"><img class="img-responsive" src="static/images/blog/9.jpg" alt="images"></a>#}
{#                                        <div class="tag">#}
{#                                            <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>#}
{#                                            <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="text">#}
{#                                        <h2><a href="" title="title">The Perfect theme for Games</a></h2>#}
{#                                        <p>Praesent posuere libero eu justo tristique, vitae ultricies justo volutpatInte. Ut luctus justo elit, sit amet..</p>#}
{#                                        <a class="read-more" href="#" title="read more">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- End col-md-3 -->#}
{#                            <div class="col-md-3 col-sm-6">#}
{#                                <div class="post-item ver3 overlay">#}
{#                                    <div class="wrap-images">#}
{#                                        <a class="images" href="#" title="images"><img class="img-responsive" src="static/images/blog/9.jpg" alt="images"></a>#}
{#                                        <div class="tag">#}
{#                                            <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>#}
{#                                            <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="text">#}
{#                                        <h2><a href="" title="title">The Perfect theme for Games</a></h2>#}
{#                                        <p>Praesent posuere libero eu justo tristique, vitae ultricies justo volutpatInte. Ut luctus justo elit, sit amet..</p>#}
{#                                        <a class="read-more" href="#" title="read more">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- End col-md-3 -->#}
{#                            <div class="col-md-3 col-sm-6">#}
{#                                <div class="post-item ver3 overlay">#}
{#                                    <div class="wrap-images">#}
{#                                        <a class="images" href="#" title="images"><img class="img-responsive" src="static/images/blog/9.jpg" alt="images"></a>#}
{#                                        <div class="tag">#}
{#                                            <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>#}
{#                                            <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="text">#}
{#                                        <h2><a href="" title="title">The Perfect theme for Games</a></h2>#}
{#                                        <p>Praesent posuere libero eu justo tristique, vitae ultricies justo volutpatInte. Ut luctus justo elit, sit amet..</p>#}
{#                                        <a class="read-more" href="#" title="read more">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- End col-md-3 -->#}
{#                            <div class="col-md-3 col-sm-6">#}
{#                                <div class="post-item ver3 overlay">#}
{#                                    <div class="wrap-images">#}
{#                                        <a class="images" href="#" title="images"><img class="img-responsive" src="static/images/blog/9.jpg" alt="images"></a>#}
{#                                        <div class="tag">#}
{#                                            <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>#}
{#                                            <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="text">#}
{#                                        <h2><a href="" title="title">The Perfect theme for Games</a></h2>#}
{#                                        <p>Praesent posuere libero eu justo tristique, vitae ultricies justo volutpatInte. Ut luctus justo elit, sit amet..</p>#}
{#                                        <a class="read-more" href="#" title="read more">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- End col-md-3 -->#}
{#                          </div>#}
{#                          <!-- End main-submenu -->#}
{#                          <div class="bottom-submenu">#}
{#                                <a href="#" title="All Business">All Business</a>#}
{#                                <a href="#" title="Finance">Finance</a>#}
{#                                <a href="#" title="Markets">Markets</a>#}
{#                                <a href="#" title="Cars">Cars</a>#}
{#                                <a href="#" title="Columnist">Columnist</a>#}
{#                                <a href="#" title="Money">Money</a>#}
{#                          </div>#}
{#                          <!-- End bottom-sub -->#}
{#                      </div>#}
{#                      <!-- End Sub Menu -->#}
{#                    </li>#}
{#                    <li class="level1 hover-menu"><a href="#" title="Post style">Post style</a>#}
{#                        <ul class="menu-level-1 list-menu">#}
{#                            <li class="level2"><a href="lookbook_v2.html" title="Lookbook Style 1" target="_blank">Contact us</a>#}
{#                                <ul class="menu-level-2">#}
{#                                    <li class="level3"><a href="lookbook_v2.html" title="Sub Menu #01" target="_blank">Sub Menu #01</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v3.html" title="Sub Menu #02" target="_blank">Sub Menu #02</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v4.html" title="Sub Menu #03" target="_blank">Sub Menu #03</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v5.html" title="Sub Menu #04" target="_blank">Sub Menu #04</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="level2"><a href="lookbook_v3.html" title="Author page" target="_blank">Author page</a>#}
{#                                <ul class="menu-level-2">#}
{#                                    <li class="level3"><a href="lookbook_v2.html" title="Sub Menu #01" target="_blank">Sub Menu #01</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v3.html" title="Sub Menu #02" target="_blank">Sub Menu #02</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v4.html" title="Sub Menu #03" target="_blank">Sub Menu #03</a></li>#}
{#                                    <li class="level3"><a href="lookbook_v5.html" title="Sub Menu #04" target="_blank">Sub Menu #04</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="level2"><a href="lookbook_v4.html" title="Tags Page" target="_blank">Tags Page</a></li>#}
{#                            <li class="level2"><a href="lookbook_v5.html" title="404 erro" target="_blank">404 error</a></li>#}
{#                            <li class="level2"><a href="lookbook_v5.html" title="Search Page" target="_blank">Search Page</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                  </ul>#}
{#                </nav>#}
{#                </div>#}
                <!-- End container -->
        </header>
    </div>
  {% if news_list %}
    <div class="home3-slideshow home4_sileshow float-left box">
              <div class="container">
                  <div class="slider-one-item nav-ver3 hidden-desktop">
                      <div class="items">
                          <div class="col-md-3">
                              <div class="col-md-12">
                                  <div class="post-item cat-1 ver1 overlay">
                                    {% for news in news_list %}
                                      <span class="lable">{{ news.category.category }}</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{{ news.image }}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">{{ news.title }}</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>{{ news.created_time }}</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                      {% endfor %}
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="post-item cat-2 ver1 overlay">
                                      <span class="lable">Social</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 item-center">
                              <div class="post-item cat-3 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <p class="description">Praesent posuere libero eu justo tristique, vitae ultricies justo volutpat elit, sit amet clubber is a wordpress theme ...</p>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 item-end">
                              <div class="post-item cat-4 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/4.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End items -->
                       <div class="items">
                          <div class="col-md-3">
                              <div class="col-md-12">
                                  <div class="post-item cat-1 ver1 overlay">
                                      <span class="lable">Social</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="post-item cat-2 ver1 overlay">
                                      <span class="lable">Social</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 item-center">
                              <div class="post-item cat-3 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <p class="description">Praesent posuere libero eu justo tristique, vitae ultricies justo volutpat elit, sit amet clubber is a wordpress theme ...</p>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 item-end">
                              <div class="post-item cat-4 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/4.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End items -->
                      <div class="items">
                          <div class="col-md-3">
                              <div class="col-md-12">
                                  <div class="post-item cat-1 ver1 overlay">
                                      <span class="lable">Social</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="post-item cat-2 ver1 overlay">
                                      <span class="lable">Social</span>
                                      <a class="images" href="#" title="images">
                                          <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                      </a>
                                      <div class="text">
                                          <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                          <div class="tag">
                                              <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                              <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 item-center">
                              <div class="post-item cat-3 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/1.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <p class="description">Praesent posuere libero eu justo tristique, vitae ultricies justo volutpat elit, sit amet clubber is a wordpress theme ...</p>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 item-end">
                              <div class="post-item cat-4 ver1 overlay">
                                  <span class="lable">Social</span>
                                  <a class="images" href="#" title="images">
                                      <img src="{% static 'images/slidershow/home3/4.jpg' %}" alt="images">
                                  </a>
                                  <div class="text">
                                      <h2><a href="" title="title">Flames top Jets in long shootout</a></h2>
                                      <div class="tag">
                                          <p class="date"><i class="fa fa-clock-o"></i>May 06,2014</p>
                                          <a class="comments" href="#" title="comments"><i class="fa fa-comments"></i>10</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End items -->
                  </div>
    {% else %}
       <p>There are no any posts.</p>
    {% endif %}

{#  <table class="table">#}
{#        <tr>#}
{#          <th>Author</th>#}
{#          <th>Title</th>#}
{#          <th>Content</th>#}
{#          <th>Created time</th>#}
{#          <th>Comments</th>#}
{#        </tr>#}
{#        {% for news in news_list %}#}
{#        <tr>#}
{#          <td>#}
{#              {{ news.title }}#}
{#          </td>#}
{#          <td>#}
{#            <a href="{% url "blog:post-detail" pk=post.id %} ">{{ post.title }}</a>#}
{#          </td>#}
{#          <td>#}
{#              {{ news.content }}#}
{#          </td>#}
{#          <td>#}
{#              {{ news.published_date }}#}
{#          </td>#}
{#          <td>#}
{#              {{ news.category.category }}#}
{#          </td>#}
{#          </tr>#}
{#        {% endfor %}#}
{#      </table>#}
{##}

{% endblock %}
