{% load static %}

<header id="header" class="header-v3 header-v4">
    {% if request.path == "/" %}
    <div class="search">
        <form class="form-search" action="#" method="get" accept-charset="utf-8">
            {{ search_form }}
            <button class="button" title="Search" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {% endif %}
    <div id="topbar">
        <div class="container">
            <div class="float-left">
              {% if request.user.is_authenticated %}
                <img class="img-circle img-user" src="{{ request.user.image.url }}" alt="images">
                <h3>Current User :</h3>
                <p>{{ request.user.username }}</p>
                <a href="{% url "portal:redactor-detail" pk=request.user.id %}" class="btn btn-success">
                User panel
                </a>
                <bu href="{% url "logout" %}" class="btn btn-primary">
                logout
                </bu>
              {% else %}
                <a href="{% url "login" %}" class="btn btn-primary link-to-page">login</a>
              {% endif %}
            </div>
        <!-- End container -->
    </div>
        <!-- End header-top -->

</header>
